// Breakpoints
desktop-breakpoint = 768px
largescreen-breakpoint = 1248px

// Colors
primary-color = #0b5570
primary-color-dark = #0a4960
primary-color-medium = #3c7d87
primary-color-light = #81c8e5
secondary-color = #1bbc9b
gray-color = #ccdcd6
text-light-color = #fff
text-dark-color = #4c4c4c

// Fonts
font = 'roboto', sans-serif
regular-font = 'robotoregular', sans-serif
light-font = 'robotolight', sans-serif
bold-font = 'robotobold', sans-serif

// User layout
transition-time = .5s
header-icon-active-color = secondary-color
sidebar-bg-color = primary-color-medium
sidebar-color = primary-color-light
sidebar-shadow-color = #2c3847
innersidebar-bg-color = #0e4154
sidebar-icon-active-color = secondary-color
innersidebar-icon-active-color = #0b3645
sidebar-width-desktop = 80px
sidebar-width-mobile = 60px
innersidebar-width-desktop = 270px
innersidebar-width-mobile = 'calc(80% - %s)' % sidebar-width-mobile
main-content-side-padding = 15px

// Cards
cards-margin = 2.5px
card-bg-image = url('./../../../assets/images/cardbg.png')
card-bg-hover-color = primary-color
badge-color = secondary-color