

main{
  flex: 1 0 auto;
}
.main-body{
	padding:20px;
	margin-top:20px;
	.el-input__inner,
	textarea{
		max-width:740px;
		&:hover,
		&:focus{
			border-color:#86c543;
		}
	}
	textarea{
		font-size:inherit;
		font-family:'roboto', sans-serif;
		padding-left:10px;
		margin-bottom:15px;
	}
	.buttons_under_main_body .clear {
		background-color: rgb(86, 86, 86);
		border: none;
	}
	.buttons_under_main_body button {
		font-size: 1.3rem;
		font-weight: 600;
		height: 54px;
		width: 170px;
		border: #fff 2px solid;
		color: #fff;
		background: none;
		&.dark{
			background-color: #565656;
			border: none;
		}
		}

}

.content
  align-items: center
  display: flex
  height: 100vh
  justify-content: center
  border:0px

.content-inner
  display: block

  form{
    .el-button--primary{
        width: 100%
    }
  }

 h1.pageTitle{
        font-size:30px;
        color:text-light-color;
        text-shadow:0px 1px 2px #3e3e3e;
        font-family:light-font;
        font-weight: normal;
        text-transform: uppercase;
        margin-top:0px;
    }

footer{
	color: #fff;
	display: block;
	padding: 15px 0 15px 80px;
	font-size:12px;
	.footer-content{
		font-size:12px;
		color:#555;
		background:transparent;
		img{
		    width: 50px;
		}
	}
	.logo{
		padding-right:0px;
		padding-bottom:8px;
		display:block;
	}

}

.el-button--primary,
a.btn-primary,
button[type="submit"]{
	border:0px;
	background:#dedecc;
	color:#FFF;
	text-transform:uppercase;
	text-decoration:none;
	color:#2a2a2a;
	display:inline-block;
	padding:10px 20px;
	font-size:14px;
	height:40px;
	font-family:'Roboto',sans-serif;
	font-weight:300;
	&:hover{
		color:#FFF;
		background:#86c543;
	}
}
button[type="submit"]{
	cursor:pointer;
	background:#86c543;
	color:#FFF;
	&:hover{
		background:#dedecc;
		color:#2a2a2a;
	}
}

.pull-right{
	float:right;
}

.el-button--primary{
	background: #1bbc9b;
	color: #FFF;
	border: 0px;
	text-transform: uppercase;
	font-size:14px;
	font-family: 'robotoregular';
}
.el-button--primary.iconed{
	padding:10px 15px;
}

.el-button--primary:hover,.el-button--primary:focus{
	background:#19ae8f;
}
.el-button--primary:hover{
	color:#FFF!important;
}
.home-wrapper .el-button--primary{
    height: 13px;
    width: 80%;
    text-align: center;
    border: 0px;
    border-radius: 3.5%;
}
