.flex
    display flex
    align-items center
    &.stretch
        align-items stretch
    &.start
        align-items flex-start

.flex-column
    display flex
    align-items center
    
.wrap
    flex-wrap wrap
    
.justify-center
    justify-content center
    
.justify-end
    justify-content flex-end